@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Nexstep';
    src: url('/src/assets/NEXTSTEP.ttf') format('truetype');
}


/* *{
    outline: 1px solid red;
} */


.home-container {
    position: relative;
    width: 100%;
    height: 100vh;
    
}

#homepage {
    scroll-behavior: auto !important;
    height: 100vh !important;
    width: 100vw !important;
    
}



.fp-watermark {
    display: none !important;
}


.home-container .home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}



.title {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}

.text-container {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 50rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: rgb(231, 224, 223);
}

.text-container.visible {
    opacity: 1;
}

.cursor-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cursor{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    animation: blink 1s infinite ;
    
}




.profil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto; 
    overflow: hidden;
    flex-wrap: wrap;
    
}

.section.hom{
    background: linear-gradient(200deg, #5d5657 ,#544f53,#423837,#252838,#0b1127,#040c1b, #031426,#010b15,#000e1b);
}

.profil::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90%;
    background-image: url('/src/assets/profil.png'); /* chemin vers ton image */
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    opacity: 0.4; /* pour que le texte reste lisible */
    z-index: 0;
}


.fondG{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%; /* ou le même width que ta photo-wrapper */
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* un peu plus visible */
    backdrop-filter: blur(10px);               /* effet de flou */
    -webkit-backdrop-filter: blur(10px);       /* support Safari */
    border:  rgba(255, 255, 255, 0.2); /* léger contour */
    z-index: 1;

}




.photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;


    
}



img.profilFoto {
    border-radius: 0% 50%;
    max-width: 100%;
    z-index: 1;
    display: flex;
    width: 500px;
    height: 650px;
    object-fit: cover; /* rogne proprement sans déformer */
    object-position: center top;
    background: linear-gradient(to right, #ebd4cb, #da9f93, #ba7316);
    ;

}


.photo-wrapper,
.profilBio{
    flex: 1; /* Distribution égale de l'espace */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}


.profilBio{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    padding: 2rem;

}






.profilBio p {
    color: rgb(254, 254, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: left;
    font-size: 20px;
    padding: 2rem;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    max-width: 600px;
    
    
}

.profilBio h2{
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    color: #b94320;
    font-family:'Great Vibes' ;
    font-weight: 300 ;
    font-size: 120px;
    font-style: normal;
    background: linear-gradient(to right,#ba7316, #da9f93,#ebd4cb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


















@keyframes blink {
    50% { opacity: 0; }
    
}

.animated-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: Nexstep;
    font-size: 1.5rem;
    
}


svg {
    width: 80%;
    height: auto;
    max-width: 100%;
    
}

svg text {
    
    font-size: 2rem;
    fill: wheat;
    font-family: 'Nexstep';

}

.intro {
    animation: fill 0.3s ease forwards 3.5s;
    width: 100%;
    max-width: 65rem;


}

.intro path:nth-child(1){
    stroke-dasharray: 209;
    stroke-dashoffset: 209;
    animation: line-anim 2s ease forwards 7.2s;
    

}
.intro path:nth-child(2){
    stroke-dasharray: 191;
    stroke-dashoffset: 191;
    animation: line-anim 2s ease forwards 6.9s;

}
.intro path:nth-child(3){
    stroke-dasharray: 74;
    stroke-dashoffset:74 ;
    animation: line-anim 2s ease forwards 6.6s;

}

.intro path:nth-child(4){
    stroke-dasharray: 271;
    stroke-dashoffset: 271;
    animation: line-anim 2s ease forwards 6.3s;

}

.intro path:nth-child(5){
    stroke-dasharray: 271;
    stroke-dashoffset: 271;
    animation: line-anim 2s ease forwards 6s;

}

.intro path:nth-child(6){
    stroke-dasharray: 272;
    stroke-dashoffset:272 ;
    animation: line-anim 2s ease forwards 5.7s;

}

.intro path:nth-child(7){
    stroke-dasharray: 153;
    stroke-dashoffset: 153;
    animation: line-anim 2s ease forwards 5.4s;

}

.intro path:nth-child(8){
    stroke-dasharray: 272;
    stroke-dashoffset:272 ;
    animation: line-anim 2s ease forwards 5.1s;

}

.intro path:nth-child(9){
    stroke-dasharray:103;
    stroke-dashoffset: 103;
    animation: line-anim 2s ease forwards 4.5s;

}

.intro path:nth-child(10){
    stroke-dasharray: 157;
    stroke-dashoffset:157 ;
    animation: line-anim 2s ease forwards 4.2s;

}

.intro path:nth-child(11){
    stroke-dasharray:209;
    stroke-dashoffset:209 ;
    animation: line-anim 2s ease forwards 3.9s;

}

.intro path:nth-child(12){
    stroke-dasharray:278;
    stroke-dashoffset: 278;
    animation: line-anim 2s ease forwards 3.6s;

}

.intro path:nth-child(13){
    stroke-dasharray:209;
    stroke-dashoffset:209 ;
    animation: line-anim 2s ease forwards 3.3s;

}

.intro path:nth-child(14){
    stroke-dasharray:259;
    stroke-dashoffset:259 ;
    animation: line-anim 2s ease forwards 3s;

}

.intro path:nth-child(15){
    stroke-dasharray:235;
    stroke-dashoffset:235;
    animation: line-anim 2s ease forwards 2.7s;

}

.intro path:nth-child(16){
    stroke-dasharray:272;
    stroke-dashoffset:272 ;
    animation: line-anim 2s ease forwards 2.4s;

}

.intro path:nth-child(17){
    stroke-dasharray:224;
    stroke-dashoffset: 224;
    animation: line-anim 2s ease forwards 2.1s;

}

.intro path:nth-child(18){
    stroke-dasharray: 209;
    stroke-dashoffset:209;
    animation: line-anim 2s ease forwards 1.8s;

}

.intro path:nth-child(19){
    stroke-dasharray:157;
    stroke-dashoffset: 157;
    animation: line-anim 2s ease forwards 1.5s;


}

.intro path:nth-child(20){
    stroke-dasharray: 211;
    stroke-dashoffset: 211 ;
    animation: line-anim 2s ease forwards 1.2s;

}

.intro path:nth-child(21){
    stroke-dasharray:299;
    stroke-dashoffset: 299;
    animation: line-anim 2s ease forwards 0.9s;

}

.intro path:nth-child(22){
    stroke-dasharray: 74;
    stroke-dashoffset: 74;
    animation: line-anim 2s ease forwards 0.6s;

}

.intro path:nth-child(23){
    stroke-dasharray: 235;
    stroke-dashoffset: 235;
    animation: line-anim 2s ease forwards 0.3s;

}

.intro path:nth-child(24){
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anim 2s ease forwards;

}
































































































@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}




@media (max-width: 468px) {
.title {
    font-size: 1.2rem; /* Ajuster la taille */
    text-align: center;
}
    
 
    .intro {
    min-width: 40rem;
    width: 90%;
    }
    
    svg {
    width: 100%;
    }
}


@media (max-width: 468px) {
    .text-container {
        font-size: 0.5rem; /* Réduire la taille */
        min-width: auto; /* Supprime la largeur minimale */
        width:  90%; /* Ajuste la largeur */
        white-space: normal; 
    }

    .animated-text {
        font-size: 1rem; /* Ajuste la taille du texte */
        text-align: center;
        width: 90%; /* S'assure que le texte prend toute la largeur */
    }
}
